@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

html {
	overflow: hidden;
	height: 100vh;
}

body {
	@apply bg-gradient-to-r from-slate-900 to-slate-700 min-h-screen;
	color: white;
	overflow: hidden;
	height: 100vh;
}
